{% extends "course_inventory/base.html" %}
{% load i18n %}

{% block ci_content %}
  <h2>{% trans "Save current view" %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="filters_json" value='{{ filters_json }}' />
    <p>{% trans "Filters:" %} <code>?{{ querystring }}</code></p>
    <button type="submit">{% trans "Save" %}</button>
    <a href="{% url 'course_inventory:inventory' %}?{{ querystring }}">{% trans "Cancel" %}</a>
  </form>
{% endblock %}
